.sidebar__container {
    width: 300px;
    min-height: 100vh;
    background-color: #fff;
    z-index: 1000;
    position: fixed;
    top:0;
    left: -100%;
    word-break: break-all;
    padding: 50px 40px;
    transition: 0.5s;
}
.active{
    left: 0;
}
.sidebar--header-logo {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.sidebar--header-logo .logo {
    position: relative;
    width: 100%;
}
.sidebar--serarchbar {
    position: relative;
}
button.close ,button.serach{
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.sidebar--serarchbar input {
    padding-left: 0px;
    border: 2px solid;
    border-color: #eee;
    height: 60px;
    box-shadow: none;
    font-size: 16px;
    color: var(--ltn__paragraph-color);
    width: 100%;
    border-radius: 0;
}
.sidebar--serarchbar svg , .sidebar--header-logo svg{
    width: 20px;
    height: 20px;
}
.sidebar-menu li.menu_list {
    width: 100%;
}
.sidebar-menu {
    margin-top: 30px;
}

.sidebar-menu li.menu_list{
    color: #5c727d;
    display: flex;
    justify-content: space-between;
    width: 100%;
}