.footer {
    background: #171b2a;
    padding-top: 100px;
}
.container-fluid {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}
.site-logo {
    margin-bottom: 15px;
}
.FooterMain__item--item1 {
    color: #fff;
    width: calc(20% - 8px);
}
.footer_block_list {
    display: flex;
}
p.desc {
    line-height: 29px;
    margin-bottom: 15px;
}
.footer-address p a {
    color: #fff;
}
.footer-address {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}
.footer-title {
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.FooterMain__item--links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-collabsible--content ul li a {
    text-transform: capitalize;
    line-height: 41px;
    color: #fff;
    font-family: 'Nunito Sans';
    position: relative;
    transition: 0.3s all;
}
.footer-collabsible--content ul li:hover a {
    padding-left: 20px;
}
.footer-widget p {
    font-family: 'Nunito Sans';
    margin-bottom: 15px;
    line-height: 29px;
}
input[type="email"] {
    background-color: #fff;
    border: 2px solid;
    border-color: #e4ecf2;
    height: 65px;
    box-shadow: none;
    padding-left: 20px;
    font-size: 16px;
    width: 100%;
    border-radius: 0;
    color: #5c727d;
}
input[type="email"]:focus {
    border-color: var(--color-primary);
}
input[type="email"]:focus-visible {
    outline: none;
}
.footer-newsletter {
    position: relative;
    margin-bottom: 25px;
}
.footer-btn-wrapper {
    position: absolute;
    top: 0;
    right: -24px;
    margin: 0;
    height: 100%;
    display: block;
}
button.theme-btn {
    padding: 0 18px;
    height: 100%;
    background-color: var(--color-primary);
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
}
button.theme-btn:hover {
    background-color: #000;
    color: #fff;
}
button.theme-btn svg {
    width: 20px;
    height: 20px;
}
.footer-widget img {
    max-width: 100%;
}
.copyright-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.footer__aside {
    margin-top: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 5%;
    padding-left: 5%;
    background-color: #282b38;
}
h5.payment-list {
    margin-bottom: 20px;
}
.copyright-area > div {
    flex: 0 0 auto;
    width: 50%;
}
ul.go-top li a {
    color: #fff;
}
ul.go-top {
    display: flex;
    gap: 30px;
    justify-content: right;
}
.footer-collabsible--content ul li a:hover:before {
    opacity: 1;
    visibility: visible;
    margin-left: 0px;
}
.footer-collabsible--content ul li a:before {
    position: absolute;
    content: "//";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: inherit;
    opacity: 0;
    visibility: hidden;
    margin-left: -20px;
    color: var(--ltn__secondary-color);
}
.footer-collabsible--content ul li a:hover {
    color: var(--color-primary);
}
@media screen and (min-width: 750px) and (max-width: 990px) {
.container-fluid {
    padding: 0 40px;
}
.footer_block_list {
    flex-wrap: wrap;
    gap: 30px;
}
.FooterMain__item--item1 {
    width: calc(50% - 15px);
    align-items: start;
}
}
@media screen and (max-width: 749px) {
    .footer_block_list {
        flex-wrap: wrap;
        gap: 30px;
    }  
    .FooterMain__item--item1 {
        width: calc(100% - 15px);
        align-items: start;
    }
    .FooterMain__item--item1 .right-announce {
        justify-content: start;
    }
    .copyright-area {
        flex-direction: column;
        gap: 20px;
    }
    .copyright-area > div {
        width: 100%;
        text-align: center;
    }
    ul.go-top {
        justify-content: center;
    }
}